@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300&display=swap');

@media (max-width:37.500em) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* color: rgb(144, 94, 150); */
    background-image: linear-gradient(to bottom, #880e4f, #8b275f, #8d396e, #8e497c, #8f5788, #8a5a87, #855d86, #805f84, #735877, #675169, #5b4a5d, #4f4350);
}

.titulo {
    font-size: 3.4em;
    font-family: 'Rasa', serif;
    justify-content: center;
    align-self: center;
    margin-top: 2em;
}

.subtitulo {
    font-family: 'Rasa', serif;
    font-size: 1.3em;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-bottom: 2em;
}

.logInContainer {
    background-color: white;
    height: 10em;
    width: 5em;
}

.inputs {
    background: rgb(253, 253, 253);
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 2em;
    border-radius: 0.62em;
    border: none;
    margin: 1em 3em 1em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: rgb(81, 36, 86);
    font-size: 1em;
}

.botones {
    background: rgb(81, 36, 86);
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 3em;
    border-radius: 0.62em;
    margin: 1em 3em 2em;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 1em;

}

#btnlogInGoogle {
    background-color: white;
    color: gray;
    border: none;
}

.errors {
    /*estilo*/
    font-family: Arial, Helvetica, sans-serif;
    size: 1em;
    color: red;
    justify-content: center;
    align-self: center;
    margin: 0em 4em 0.5em;
}

.hide {
    display: none;
}
.imgContainer {
    display: none;
}
/* estilo de boton google*/
.googleIcon{
    /* se agrega imagen desde carpeta como fondo*/
    background-image: url("img/boton_goo.PNG");
    /* background position para que la imagen quede centrada, no desaparezca*/
    background-position:center;
    /* mismo formato que botones del home*/
    background-size: contain;
    width: 15em;
    height: 3em;
    border-radius: 0.62em;
    justify-content: center;
    align-self: center;
    margin: 0em 2em 1em;
}
     /* estilo del feed */    
     /* #feedContainer {
        justify-content: center;
        align-items: column;
        flex-direction: column;
        margin: 0.5em 0.1em 0.5em;
    } */

    .postIndividual{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        align-items: center;
        margin: 1em;
        padding: 1em;
    }

    .postHeader{
        width: 100%;
        display: flex;
        align-items: center;

    }

    .postTitle{
        font-weight: bold;
    }

    .likeBtn{
        background: none;
        border: none;
        /*el color negro lo vuelve rosa*/
        filter: invert(92%) sepia(4%) saturate(2778%) hue-rotate(285deg) brightness(94%) contrast(85%);
    }
    /*nthchild es el n hijo de cualquier elemento*/
    .likeBtn:not(.active) img:nth-child(2){ 
        display:none;

    }
    .likeBtn.active img:nth-child(1){
        display: none;
    }

    #tituloMuro {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        margin: 0.2em;
    }
    
    #postTitle {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        text-align: center;
        margin: 1em;
    }

    #taskForm {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin: 1em;
    }
    #postText {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        text-align: center;
        margin: 0.2em;
    }
    #botonGuardar {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0.2em;
    }

}
@media (max-width: 100em) and (min-width: 37.563em){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .homeDiv{
        align-items: center;
    }
    
    .deskContainer{
        display: flex;
        margin: auto;
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    .homeContainer{
       margin: 0.6em;
       padding: 1.875em;
       flex-direction: column;
       display: flex;

    }

    .imgContainer{
        background-image: url("img/coding.png");
        width: 40%;
        height: 70%;
        background-size: cover;
        background-position:center;
        position: relative;
        background-repeat: no-repeat;
        margin: auto;
        padding: 9.3em;

    }

    .titulo {
        font-size: 4em;
        font-family: 'Rasa', serif;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-top: 0.9em;
        color: white;
    }
    
    .subtitulo {
        font-family: 'Rasa', serif;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items:center;
        text-align: center;
        color: white;
    }
     body {
        min-height: 100vh;
        width: 100%;
        /* color: rgb(144, 94, 150); */
        background-image: linear-gradient(to bottom, #880e4f, #8b275f, #8d396e, #8e497c, #8f5788, #8a5a87, #855d86, #805f84, #735877, #675169, #5b4a5d, #4f4350);
    } 
    .headerPost{
        font-family: 'Rasa', serif;
        font-size: 1.563em;
        text-align: center;
        margin-top: 4%;
        padding: 1%;
    }
    .botones {
        /* background: rgb(222, 186, 206); */
        background: rgb(81, 36, 86);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11em;
        height: 3em;
        border-radius: 0.625em;
        /*border: 1%;*/
        margin: 3em;
        margin-left: 25%;
        font-family: 'Anton', sans-serif;
        color: white;
        font-size: 1em;
        /* font-weight: bold; */
    }
    
    .inputs {
        background: rgb(253, 253, 253);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12em;
        height: 2em;
        border-radius: 1em;
        border: none;
        margin: 2.5em;
        margin-left: 18%;
        font-family: 'Anton', sans-serif;
        color: rgb(81, 36, 86);
        font-size: 1em;
    }
    
    #btnlogInGoogle {
        background-color: white;
        color: gray;
        border: none;
    }
    
    .errors {
        /*estilo*/
        font-family: Arial, Helvetica, sans-serif;

        color: #602a92;
        border: 0.5em solid rgb(119, 53, 89);;
        border-radius: 1em;
        padding: 1em 2.5em;
        background: transparent;
        max-width: 30em;
        height: 4em;
    }
    
    .hide {
        display: none;
    }
    /* icono de boton google */
    .googleIcon{
        background-image: url("img/boton_goo.PNG");
        background-position:center;
        width: 15em;
        height: 3em;
        border-radius: 1em;
        justify-content: center;
        align-items: center;
        margin: 2.5em;
        margin-left: 18%;
        background-size: cover;
        
    }

    /* style del feed */    
    /* #feedContainer {
        display: flex;
        justify-content: center;
        align-items: column;
        flex-direction: column;
        margin: 0.5em 0.1em 0.5em;
    } */
    
    .postIndividual{
        background-color: rgb(160, 91, 129);
        text-align: center;
        justify-content: space-between;
        width: 80%;
        height: 10em;
        margin: 2em auto 2em;
        border: 0.18em solid rgb(119, 53, 89);
        box-shadow: 0.9em 0.9em 1.875em #d2c2d3;
        border-radius: 2.5em 0 2.5em 0;
        padding: 2%;
    }
    .postHeader{
        display: flex;
        color:rgb(60, 23, 65);
    }
    h5{
        color: rgb(48, 15, 53);
        font-family: 'Rasa', serif;
        

    }
        #tituloMuro {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        margin: 0.2em;
    }
    
    .postTitle {
        font-family: 'Rasa', serif;
        font-size: 1.25em;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        text-align: center;
        color: rgb(60, 23, 65);
        border: 0.18em solid rgb(119, 53, 89);
        border-radius: 2.5em 2.5em 0 0 ;
        width: 80%;
        height: 2em;
    }
    }

    #taskForm {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;

    }
    .postText {
        font-family: 'Rasa', serif;
        font-size: 1.25em;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        text-align: center;
        width: 80%;
        height: 5em;
        border: 0.18em solid rgb(119, 53, 89);
        color: white;
        
    }
    .botonGuardar {
        justify-content: center;
        align-self: center;
        display: flex;
        background-color: rgb(119, 53, 89);
        color: white;
        cursor: pointer;
        border: none;
        font-size: 1.2em;
        padding: 0.62em 0.93em;
        border-radius: 0.25em;
        width: 80%;
        border-radius: 0 0 2.5em 2.5em;
    }
    .botonGuardar:hover {
        transform: translateY(-0.18em);
        box-shadow: 0 0.5em 1.25em rgba(0, 0, 0, 0.5);
        background-color: rgb(60, 23, 65);
    }
    .botonGuardar:active {
        transform: translateY(0.25em) translateX(0.25em);
        box-shadow: #094c66 0;
      }
    .postTitle2{
        color: rgb(0, 0, 0);
        font-family: 'Rasa', serif;
        font-size: 1.56em;    
        text-align: center;
    }
    .description-text{
        color: black;
        font-family: 'Rasa', serif;
        font-size: 1.25em;
        text-align: center;
    }

.deletebtn{
    background-image: url("img/trash-regular-24.png");
    width: 1.25em;
    height: 1.25em;
    justify-content: center;
    background-position:center;
    align-items: center;
    background-size: cover;
}


/* --------------------------Código del FEED---------------------------------*/
.divPadre {
    border: 1em;
    border-color: black;
}
#inputPost {
    border: 1em;
    border-color: black;
}